#app {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template: minmax(auto, auto) 1fr minmax(auto, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
body a:hover {
  text-decoration: none;
}
header {
  grid-area: header;
  background: #f7f7f7;
}
.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
}
.logo {
  font-size: 35px;
  color: #112e41;
  font-weight: 600;
}
.logo:hover {
  color: #112e41;
}
.logo span {
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
.search-form {
  margin: 0 15px;
  justify-self: self-end;
  color: #ff7214;
  height: 40px;
  border-bottom: 1px solid;
}
.search-field {
  width: 250px;
  height: 100%;
  color: #ff7214;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
}
.btn-search {
  width: 30px;
  height: 25px;
  border: none;
  background: transparent;
  outline: none;
}
.btn-search img {
  width: 100%;
}
.button {
  width: 130px;
  height: 40px;
  border-radius: 50px;
  background: #ff7214;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 40px;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all ease-in-out .4s;
}
.button:hover {
  background: #112e41;
}
.button-no {
  width: 130px;
  height: 40px;
  border: 1px solid #ff7214;
  border-radius: 50px;
  background: #f7f7f7;
  color: #ff7214;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 40px;
  text-decoration: none;
  outline: none;
  transition: all ease-in-out .4s;
}
.button-no:hover {
  border: 1px solid #112e41;
  color: #112e41;
}
.btn-cart {
  position: relative;
}
.count {
  position: absolute;
  min-width: 30px;
  height: 30px;
  background-color: #112e41;
  border-radius: 50%;
  border: 1px solid #f7f7f7;
  right: -10px;
  top: -10px;
  line-height: 20px;
  padding: 5px;
}
.cart-block{
  box-shadow: 0px 10px 40px 0px rgba(139, 94, 255, 0.1);
  border-radius: 5px;
  right: 15px;
  top: 80%;
  position: absolute;
  background-color: white;
  padding: 20px;
  width: 350px;
  z-index: 1;
}
.cart-block:before{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 55px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
.cart-block p {
  color: #112e41;
  margin: 0;
}
.cart-block span {
  color: #ff7214;
}
.cart-block hr {
  margin: 10px 0;
}
.cart-item {
  display: grid;
  grid-template-columns: 20px repeat(3, 1fr) 20px;
  align-items: center;
  text-align: center;
}
.minus-plus {
  width: 20px;
  height: 20px;
  border: 1px solid #ff7214;
  border-radius: 3px;
  background-color: #fff;
  line-height: normal;
  color: #ff7214;
  outline: none;
  padding: 0;
}
main {
  grid-area: main;
  padding: 30px 15px;
}
.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  grid-gap: 40px;
}
.products__no {
  text-align: center;
  text-transform: uppercase;
  color: #ff7214;
  grid-column: 3/4;
}
@media (max-width: 767px) {
  .products {
    grid-template-columns: 1fr;
  }
  .products__no {
    grid-column: 1/2;
  }
}
.product-item {
  background: #fff;
  border: 5px solid #f6f7fb;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  transition: all ease-in-out .4s;
}
.product-item:hover {
  border: 5px solid #fff;
  box-shadow: 0px 10px 40px 0px rgba(139, 94, 255, 0.1);
}
.product-item img {
  width: 70%;
}
.product-title {
  font-size: 22px;
  font-weight: 600;
  color: #112e41;
  margin-top: 15px;
}
.product-price {
  font-size: 18px;
  font-weight: 300;
  color: #ff7214;
  letter-spacing: 1px;
  margin: 15px 0;
}
footer {
  grid-area: footer;
  background: #f7f7f7;
  text-align: center;
  font-size: 14px;
  color: #112e41;
  padding: 30px 0;
}